<div class="container">
<div class="card text-center z-depth-2" width="100%" style="margin-bottom: 20px; margin-top: 10px; border-radius: 5px">
    <p>&nbsp;</p>
   <img src="https://www.nairaland.com/static/logo1.png" style="width: 300px; margin-right: auto; margin-left: auto" class="justify-content-center"><br/>
  Welcome, Guest: Join Nairaland / LOGIN! / Trending / Recent / New <br/>
  Stats: 2,392,007 members, 5,343,846 topics. {{mydate | date: 'EEEE, MMMM d, y, h:mm:ss a'}} <br/>
  <div class="input-group md-form form-sm form-1 pl-0" style="width: 80%; margin-right: auto; margin-left: auto">
      <div class="input-group-prepend">
        <span class="input-group-text black text-light" id="basic-text1">SEARCH</span>
      </div>
      <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search for an headline">
    </div>
  </div>



<div class="card text-center z-depth-2" width="100%" style="border-radius: 30px; margin-bottom: 20px">
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item text-center" style="font-weight: 1000; color: rgb(56, 39, 39); background-color: #E8ECE0">NAIRALAND NIGERIAN FORUMS</li>
      <li class="list-group-item text-center">Nairaland / General:<a href="/"> Politics</a>, <a href="/"> Crime</a>, <a href="/"> Romance</a>, <a href="/"> Jobs/Vacancies</a>, <a href="/"> Career</a>, <a href="/"> Business</a>, <a href="/"> Investment</a>, <a href="/"> NYSC</a>, <a href="/"> Education</a>, <a href="/"> Autos</a>, <a href="/"> Car Talk</a>, <a href="/"> Properties</a>, <a href="/"> Health</a>, <a href="/"> Travel</a>, <a href="/"> Family</a>, <a href="/"> Culture</a>, <a href="/"> Religion</a>, <a href="/"> Food</a>, <a href="/"> Diaries</a>, <a href="/"> Nairaland Ads</a>, <a href="/"> Pets</a>, <a href="/"> Agriculture</a></li>
      <li class="list-group-item text-center" style="background-color: #E8ECE0">Entertainment: <a href="/">Jokes Etc</a>, <a href="/"> TV/Movies</a>, <a href="/"> Music/Radio</a>, <a href="/"> Celebrities</a>, <a href="/"> Fashion</a>, <a href="/"> Events</a>, <a href="/"> Sports</a>, <a href="/"> Gaming</a>, <a href="/"> Forum Games</a>, <a href="/"> Literature</a></li>
      <li class="list-group-item text-center">Science/Technology: <a href="/">Programming</a>, <a href="/"> Webmasters</a>, <a href="/"> Computers</a>, <a href="/"> Phones</a>, <a href="/"> Art</a>, <a href="/"> Graphics & Video</a>, <a href="/"> Technology Market</a></li>
    </ul>
  </div>
<!--/.Navbar -->


<div class="card card-image z-depth-2 text-center" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg); background-size: cover; border-radius: 20px">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" style="width: 100% !important">
    <div style="width: 100% !important">
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> </h5>
      <h3 class="card-title pt-2"><strong>TARGETED ADS</strong></h3>
      <p>Market Your Products and Services. Place your ads here. Click the button below to know how</p>
      <a class="btn btn-secondary"><i class="fas fa-clone left"></i> Click </a>
    </div>
  </div>

</div>


